
= simple_form_for @doc do |f|
  .form-group
    .form-label.col-sm-8.col-sm-offset-2
      = f.input :title, label: false, placeholder: "Title"
    %br
    %br
    .form-group
      .form-label.col-sm-8.col-sm-offset-2
        = f.input :content, label: false, placeholder: "Conent"
    %br
    %br
    .form-group
      .form-label.col-sm-8.col-sm-offset-2
        = f.button :submit, class: "btn btn-primary btn-large"
        = link_to "Nevermind", root_path, class: "btn btn-info btn-large"